body{
	text-align: center;
}
/*************************************** partie de navigation **********************************************/
nav{
	display: flex;
	justify-content: center;
	height: auto;
}
nav p{
	font-style: 2em;
	margin: 1.5em;
}
/* ********************************** SETION PRINCIPAL ******************************************** */



/* ********************************** SETION 1 ******************************************** */
#sect_1{
	background-image: url(imgs/img_font.jpeg);
	background-size: cover;
	height: 15em;
	padding: 5em;
	color: white;
}
#sect_1 figure{
	width: 12%;
	margin: auto;
}
#sect_1 img{
	border-radius: 20px;
}
#sect_1 h1{
	background-color: rgb(41, 41, 41);
	font-size: 1.7em;
	width: 33%;
	margin: auto;
	padding: 0.8em;
}
#sect_1 p{
	font-size: 1.3em;
	width: 33%;
	margin: auto;
}
/* ******************************* section 2 ************************************************** */
#sect_2{
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 10px;
}
.section_2{
	width: 25%;
	height: auto;
	padding: 0px;
}
#sect_2 .fas{
	font-size: 2em;
	border: solid 1.5px green;
	border-radius: 1000px;
	padding: 30px;
}
#sect_2 .icons{
	padding: 15px;
}
/* ****************************************SECTION 3 **************************************************** */
#sect_3{
	background-color:rgb(216, 216, 216);
	padding: 20px;
	padding-bottom: 40px;
}
#sect_3 p{
	width: 30%;
	margin: auto;
}
.section_3{
	display: flex;
	justify-content: space-between;
	width: 70%;
	height: auto;
	margin: auto;
}
.section_3 p{
	font-style: 2em;
	margin: 1.5em;
}
/* ************************************* SECTION 4 **************************************************************** */
#sect_4{
	display: flex;
	flex-wrap: wrap;
	margin:0px;
	padding: 0px;
}
.section_4{
	margin: 0px;
	width: 25%;
	height: auto;
}
#sect_4 figure{
	width: 50%;
	margin: auto;
	padding: 5px;
}
#python img{
	margin-top: 30px;
}
#sect_4 div:nth-child(1){
	background-color: rgb(128, 255, 255);
}
#sect_4 div:nth-child(2){
	background-color: rgb(0, 138, 138);
}
#sect_4 div:nth-child(3){
	background-color: rgb(71, 71, 35);
}
#sect_4 div:nth-child(4){
	background-color: rgb(0, 100, 50);
}
#sect_4 div:nth-child(5){
	background-color: rgb(64, 32, 0);
}
#sect_4 div:nth-child(6){
	background-color: rgb(65, 146, 116);
}
#sect_4 div:nth-child(7){
	background-color: rgb(0, 106, 106);
}
#sect_4 div:nth-child(8){
	background-color: rgb(188, 188, 122);
}
/* *************************************** SECTION 5 ********************************************************* */
#sect_5{
	padding: 40px;
	height: auto;
}
#sect_5 h2, #sect_5 p{
	width: 37%;
	margin: auto;
}
.section_5{
	padding: 0px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
}
.section_5-1, .section_5-2{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0px;
}
.section_5-2{
	align-self: flex-end;
}
.texte{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.niveau{
	width: 70%;
	height: 1em;
	margin: auto;
	border-radius: 15em;
	background-color: gray;
}
.niveau #niveau_p{
	padding: 0px;
	width: 100%;
	height: 1em;
	border-radius: 15em;
	background-color: rgb(155, 201, 155);
}
.niveau #niveau_b{
	padding: 0px;
	width: 80%;
	height: 1em;
	border-radius: 15em;
	background-color: rgb(155, 201, 155);
}
.niveau #niveau_o{
	padding: 0px;
	width: 90%;
	height: 1em;
	border-radius: 15em;
	background-color: rgb(155, 201, 155);
}
.niveau #niveau_r{
	padding: 0px;
	width: 60%;
	height: 1em;
	border-radius: 15em;
	background-color: rgb(155, 201, 155);
}
/* ****************************************** SECTION 6 ************************************************** */
#sect_6{
	background-color: rgb(155, 201, 155);
	height: auto;
	padding: 20px;
}
#sect_6 h2, #sect_6 p{
	width: 35%;
	margin: auto;
	margin-top: 20px;
	color: white;
}
.section_6{
	margin: 20px;
	padding: 0px;
	display: flex;
	justify-content: space-around;
}
.section_6-1, .section_6-2, .section_6-3, .section_6-4{
	padding: 0px;
	margin: 0px;
	width: 15%;
	height: auto;
	display: flex;
	flex-direction: column;
}
#sect_6 img{
	width: 10em;
	height: auto;
}
.section_6-2 img, .section_6-4 img{
	margin: 0 0 -20px -27px;
}
.section_6-1 img{
	margin: 0 0 -29px -27px;
}
.section_6-3 img{
	margin: 0 0 -38px -27px;
}
h3{
	font-weight: normal;
}
.nom{
	background-color: white;
}
span{
	font-weight: bold;
}
.section_6-1 .imgs{
	background-color: rgb(36, 18, 0);
}
.section_6-2 .imgs{
	background-color: rgb(175, 68, 65);
}
.section_6-3 .imgs{
	background-color: rgb(71, 199, 109);
}
.section_6-4 .imgs{
	background-color: rgb(255, 128, 64);
}
/* ************************************************ SECTION 7 ***************************************************** */
#sect_7{
	margin: 0px;
	padding: 30px;
	height: auto;
}
#sect_7 img{
	width: 5%;
	margin: auto;
}
#sect_7 h4, #sect_7 p{
	width: 70%;
	margin: auto;
	margin-top: 40px;
	font-size: 0.8em;
}
/* ************************************************* footer ******************************************************** */
footer{
	background-color: rgb(216, 216, 216);
	height: auto;
	padding: 20px;
}
.footer{
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	text-align: left;
}
footer h3{
	font-weight: bold;
	font-size:x-large;
}
footer h6{
	padding-top: 30px;
	font-weight: normal;
	font-size: 0.6em;
}